.rsvp_form_label {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

ul.rsvp_form_guests > li {
  margin-bottom: 0.5rem;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
